.editor {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100%;
  min-height: 450px;
  width: 100%;
}

.ql-toolbar {
  height: 40px;
}

.ql-container {
  min-height: 408px;
  max-height: calc(100% - 40px);
  overflow-x: hidden;
  overflow-y: auto;
}

.ql-cursor,
.ql-cursor-selections {
  display: block;
}

.hide-toolbar {
  display: none !important;
}

.open {
  padding-right: 28px;
}

.open,
.open > div {
  display: inline;
}

.collapse {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  opacity: 0;
  padding: 3px 5px;
  pointer-events: none;
  position: absolute;
  transition: opacity var(--transition-mid-duration) var(--transition-curve);
  transform: translateY(2px);
  z-index: 10;
}

.collapse.show {
  opacity: 1;
  pointer-events: auto;
}

.collapse > div > span {
  margin-right: 10px !important;
}

.collapse > div > span:last-child {
  margin-right: 0 !important;
}

.extend {
  margin-right: 0 !important;
  right: 8px;
  position: absolute;
  top: 8px;
}

.extend::before {
  color: #ccc;
  content: '|';
  font-size: 12px;
  left: -2px;
  line-height: 26px;
  opacity: 0.75;
  position: absolute;
  transform: translateX(-100%);
  top: 0;
}

.fake-toolbar {
  opacity: 0;
  pointer-events: none;
  padding-right: 36px;
  position: absolute;
  top: 8px;
  user-select: none;
}

.ql-snow.ql-toolbar,
.ql-container.ql-snow {
  border: none;
  font-size: 16px;
}

.ql-snow .ql-picker {
  font-size: 14px;
}

.ql-editor {
  font-family: 'Rubik', 'rubik', sans-serif;
  overflow-y: unset;
}

.ql-editor > div {
  line-height: 1.5em;
  z-index: 0;
}

.ql-editor > div span,
.ql-editor > div img {
  z-index: -1;
}

.ql-cursors {
  position: absolute;
}

.ql-picker,
.ql-formats > button {
  border-radius: 3px;
}

.ql-picker {
  height: 32px;
}

.ql-picker-label {
  padding-top: 4px;
  padding-bottom: 4px;
}

.ql-color-picker svg,
.ql-icon-picker svg {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ql-color-picker.ql-background svg {
  top: calc(50% - 1px);
}

.ql-picker:active,
.ql-formats > button:active,
.ql-picker-item:active,
.ql-picker:focus,
.ql-formats > button:focus,
.ql-picker-item:focus,
button.ql-active,
button.active,
.ql-expanded {
  background-color: var(--main-font-color-light) !important;
}

.ql-picker,
.ql-formats > button,
.ql-picker-item {
  transition: background-color 0.05s linear;
}

.ql-picker:hover,
.ql-formats > button:hover,
.ql-picker-item:hover {
  background-color: var(--gray-bg-color-3);
}

.ql-picker-item:focus::before,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar button.active,
.ql-snow .ql-toolbar button.active,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected,
.ql-picker.ql-expanded .ql-picker-label::before {
  color: var(--main-font-color) !important;
}

.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke {
  color: inherit;
  stroke: var(--black-font-color);
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover {
  color: var(--black-font-color);
}

.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
  stroke: var(--main-font-color) !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter {
  stroke: var(--black-font-color);
}

.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-fill {
  fill: var(--main-font-color) !important;
}

.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill {
  fill: var(--black-font-color);
}

.ql-toolbar.ql-snow .ql-picker-options {
  border-color: #ccc;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  transition: opacity var(--transition-mid-duration) var(--transition-curve);
}

.ql-snow .ql-picker-options {
  padding-left: 0;
  padding-right: 0;
}

.ql-picker-item {
  padding-left: 8px;
  padding-right: 8px;
}

.ql-picker-label {
  border: none !important;
}

.ql-snow .ql-picker-label::before {
  line-height: 26px;
  position: relative;
  top: -4px;
}

.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-header .ql-picker-item::before,
.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
  font-weight: 400 !important;
}

code {
  display: inline-block;
  z-index: -1;
}

code,
code *,
pre,
pre * {
  font-family: 'Courier New', monospace !important;
}

code strong,
pre strong {
  font-weight: 800 !important;
}

.ql-snow .ql-editor blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

.ql-snow .ql-editor blockquote:first-child {
  margin-top: 5px;
  margin-bottom: 0;
}

.ql-snow .ql-editor blockquote:last-child {
  margin-bottom: 5px;
  margin-top: 0;
}

.ql-snow .ql-editor blockquote:only-child {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ql-cursor-selection-block {
  pointer-events: none;
}

.ql-cursor-name {
  user-select: none;
}

.ql-snow .ql-picker-options {
  border: 1px solid #ccc !important;
  display: block;
  margin-top: -1px;
  opacity: 0;
  pointer-events: none;
  top: 100%;
  z-index: 1;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  opacity: 1;
  pointer-events: auto;
}

.ql-editor ol,
.ql-editor ul {
  padding-left: 0;
}

.ql-picker-item::before,
.ql-picker-label::before {
  font-weight: 400;
}

.ql-font-rubik,
.ql-picker-item[data-value='rubik']::before,
.ql-picker-label[data-value='rubik']::before {
  content: 'Rubik' !important;
  font-family: 'Rubik', 'rubik', sans-serif;
}

strong,
strong.ql-font-rubik {
  font-weight: 500;
}

.ql-font-arial,
.ql-picker-item[data-value='arial']::before,
.ql-picker-label[data-value='arial']::before {
  content: 'Arial' !important;
  font-family: 'Arial', 'helvetica', sans-serif;
}

.ql-font-times,
.ql-picker-item[data-value='times']::before,
.ql-picker-label[data-value='times']::before {
  content: 'Times' !important;
  font-family: 'Times New Roman', 'times', sans-serif;
}

.ql-font-courier,
.ql-picker-item[data-value='courier']::before,
.ql-picker-label[data-value='courier']::before {
  content: 'Courier' !important;
  font-family: 'Courier New', 'courier', monospace;
}

strong.ql-font-arial,
strong.ql-font-times,
strong.ql-font-courier {
  font-weight: 800;
}

.ql-editor u,
.ql-editor s,
.ql-editor code,
.ql-editor em,
.ql-editor strong {
  z-index: 0;
}

.ql-snow .ql-hidden {
  display: block;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.ql-snow .ql-tooltip {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  padding: 5px 15px;
  font-size: 14px;
  transition: opacity var(--transition-mid-duration) var(--transition-curve);
  width: fit-content;
  z-index: 1000;
  will-change: opacity;
}

.ql-snow .ql-tooltip.ql-editing {
  padding: 4.5px 15px;
}

.ql-snow .ql-tooltip::before {
  content: 'Link:' !important;
  margin-right: 6px;
  /* display: none; */
}

.ql-snow .ql-tooltip input[type=text] {
  border: none;
  border-radius: 5px;
  color: var(--black-font-color);
  font-size: 14px;
  padding: 4px 0;
}

.ql-snow .ql-tooltip input[type=text]::placeholder {
  opacity: 0.5;
}

a.ql-preview:hover {
  text-decoration: underline;
}

a.ql-action,
a.ql-remove {
  color: var(--black-font-color);
  transition: opacity var(--transition-short-duration) var(--transition-curve);
}

a.ql-action:hover,
a.ql-remove:hover {
  opacity: 0.5;
}

.ql-snow .ql-tooltip.vinegar-ql-image.ql-editing .ql-action::after {
  border-right: 1px solid #ccc;
  padding-right: 8px;
}

.ql-snow .ql-tooltip.vinegar-ql-image .ql-remove::before {
  border-right: 1px solid #ccc;
  padding-right: 8px;
}

.vinegar-ql-upload-wrapper {
  cursor: pointer;
  display: none;
  height: 22px;
  margin-left: 8px;
  transition: opacity var(--transition-short-duration) var(--transition-curve);
  vertical-align: middle;
}

.ql-tooltip.vinegar-ql-image .vinegar-ql-upload-wrapper {
  display: inline-block;
}

.vinegar-ql-upload-wrapper:hover {
  opacity: 0.5;
}

.vinegar-ql-upload-wrapper > svg {
  height: 20px;
  stroke: var(--black-font-color);
  stroke-width: 1.75px;
  width: 20px;
}

.vinegar-ql-upload {
  display: none;
}

@media (max-width: 700px) {
  .editor {
    max-height: 800px;
  }
}
